nav {
    background-color: #ee00ff;
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: rgb(209, 63, 167);
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #aa00b3;
    color: #c246a9;
    text-decoration: underline;
}
