
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


@media (max-width: 768px) {
    form {
        width: 90%;
    }

    table {
        width: 100%;
    }

    nav a {
        display: block;
        margin: 10px 0;
    }
}

h1 {
    color: #333;
    font-size: 2.5em;
    margin-top: 20px;
}
